<script type="text/template" id="templates/settings/import.html">
  <div class="settings-section settings-section-import">
    <div class="settings-title">
      从浏览器加载
    </div>
    <div class="settings-item">
      <span>加载保存在此浏览器中的<span class="import-highlight">本地 Piskel</span></span>
      <div class="import-section">
        <button type="button" class="button  button-primary browse-local-button">浏览本地存档</button>
      </div>
    </div>
    <div class="settings-title">
      加载 .piskel 文件
    </div>
    <div class="settings-item">
      <span>从你的计算机中加载 <span class="import-highlight">.piskel</span> 文件</span>

      <div class="import-section">
        <button type="button" class="button  button-primary open-piskel-button">浏览器 .piskel 文件</button>
        <span class="file-input-open-piskel-status"></span>
        <input style="display:none"
          type="file" name="open-piskel-input"
          value="file" accept=".piskel"/>
      </div>
    </div>
    <div class="settings-title">
      从图片导入
    </div>
    <div class="settings-item">
      <div style="margin-top:5px;margin-bottom:5px;">支持 <span class="import-highlight">PNG, JPG, BMP, GIF动画</span></div>
      <div class="import-section">
        <button type="button" class="button  button-primary file-input-button">浏览图片</button>
        <input style="display:none"
          type="file" name="file-upload-input"
          value="file" accept="image/*"/>
      </div>
    </div>
    <div class="settings-title">
      恢复最近的会话
    </div>
    <div class="settings-item">
      浏览以前的会话备份.
      <div style="margin-top:10px;">
        <button type="button" class="button button-primary browse-backups-button">浏览备份</button>
      </div>
    </div>
  </div>
</script>