<script type="text/html" id="templates/settings/resize.html">
  <div class="settings-section settings-section-resize">
    <!-- RESIZE DRAWING SECTION -->
    <div class="settings-title">
      调整
    </div>
    <div class="settings-item  resize-canvas">
      <form action="" method="POST" name="resize-canvas-form">
        <div class="resize-section">
          <span  class="resize-section-title">宽度</span>
          <input type="text" class="textfield resize-size-field" autocomplete="off" name="resize-width"/>
          <span>px</span>
        </div>
        <div class="resize-section">
          <span  class="resize-section-title">高度</span>
          <input type="text" class="textfield resize-size-field" autocomplete="off" name="resize-height"/>
          <span>px</span>
        </div>
        <div class="resize-section">
          <label class="checkbox-container">
            <input type="checkbox" class="resize-ratio-checkbox checkbox-fix" value="true"/>
            <span>保持纵横比</span>
          </label>
        </div>
        <div class="resize-section">
          <label class="checkbox-container">
            <input type="checkbox" class="resize-content-checkbox checkbox-fix" value="true"/>
            <span>调整画布内容大小</span>
          </label>
        </div>
        <div class="resize-section">
          <span  class="resize-section-title">定位</span>
          <div class="resize-anchor-container"></div>
        </div>
        <input type="submit" class="button button-primary resize-button" value="调整" />
      </form>
    </div>
    <!-- DEFAULT SIZE SECTION -->
    <div class="settings-title">
      默认大小
    </div>
    <div class="settings-item  settings-default-size">
      <form action="" method="POST" name="default-size-form">
        <div class="resize-section">
          <span  class="resize-section-title">宽度</span>
          <input type="text" class="textfield resize-size-field" autocomplete="off" name="default-width"/>
          <span>px</span>
        </div>
        <div class="resize-section">
          <span  class="resize-section-title">高度</span>
          <input type="text" class="textfield resize-size-field" autocomplete="off" name="default-height"/>
          <span>px</span>
        </div>
        <input type="submit" class="button button-primary default-size-button" value="设置默认值" />
      </form>
    </div>
  </div>
</script>
