<div class="vertical-centerer">
  <div
    data-setting="user"
    class="tool-icon icon-settings-gear-white"
    title="<span class='highlight'>设置</span></br>"
    rel="tooltip" data-placement="left">
  </div>

  <div
    data-setting="resize"
    class="tool-icon  icon-settings-resize-white"
    title="<span class='highlight'>调整</span></br>调整绘图区域大小"
    rel="tooltip" data-placement="left">
  </div>

  <div
    data-setting="save"
    class="tool-icon  icon-settings-save-white"
    title="<span class='highlight'>保存</span></br>保存到浏览器本地或保存为 .piskel 文件"
    rel="tooltip" data-placement="left" >
  </div>

  <div
    data-setting="export"
    class="tool-icon  icon-settings-export-white"
    title="<span class='highlight'>导出</span></br>导出为图像、GIF动画<br/>或导出为精灵图 (Spritesheet)"
    rel="tooltip" data-placement="left">
  </div>

  <div
    data-setting="import"
    class="tool-icon  icon-settings-open-folder-white"
    title="<span class='highlight'>导入</span></br>导入现有图像、GIF动画或 .piskel 文件"
    rel="tooltip" data-placement="left">
  </div>

</div>