<script type="text/template" id="templates/dialogs/browse-local.html">
  <div class="dialog-wrapper">
    <h3 class="dialog-head">
      浏览本地 Piskels
      <span class="dialog-close">X</span>
    </h3>
    <div class="dialog-content" style="padding:10px 20px; font-size:1.5em; overflow: auto;">
      <table class="local-piskel-list">
        <thead>
          <tr class="local-piskel-list-head">
            <td class="local-piskel-name">名称</td>
            <td class="local-piskel-save-date">时间</td>
            <td colspan=2>操作</td>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
    </div>
  </div>
</script>

<script type="text/template" id="local-storage-item-template">
  <tr class="local-piskel-item">
    <td class="local-piskel-name">{{name}}</td>
    <td class="local-piskel-save-date">{{date}}</td>
    <td><button type="button" data-action="load" data-name="{{name}}" class="button button-primary local-piskel-load-button">加载</button></td>
    <td><button type="button" data-action="delete" data-name="{{name}}" class="button local-piskel-delete-button">删除</button></td>
  </tr>
</script>