<script type="text/template" id="templates/dialogs/browse-backups.html">
  <div class="dialog-wrapper">
    <h3 class="dialog-head">
      浏览备份
      <span class="dialog-close">X</span>
    </h3>
    <div class="dialog-content backups-wizard-container"></div>
  </div>
</script>

<script type="text/template" id="backups-select-session">
<div class="backups-step-container">
  <div class="backups-step-content">
    <div class="browse-backups-disclaimer">
      <div class="backups-icon icon-common-backup-white">&nbsp;</div>
      <div class="browse-backups-disclaimer-content">
        <!-- Keep in sync with MAX_SESSIONS in BackupService.js -->
        如果您忘记保存或Piskel崩溃，可尝试恢复下面自动备份的会话（最多保存10个会话）。
        <br/>
        <br/>
        备份可能随时被清除且不会通知，因此请尽快将恢复的作品保存到文件或存入图库中。
      </div>
    </div>
    <div class="session-list">
    </div>
  </div>
</div>
</script>

<script type="text/template" id="session-list-empty">
<div class="centered-message session-list-empty">未找到会话...</div>
</script>

<script type="text/template" id="session-list-error">
<div class="centered-message session-list-error">无法加载备份会话，出现问题。</div>
</script>

<script type="text/template" id="session-list-item">
<div class="session-item">
  <div class="session-details">
    <span class="session-details-title">{{name}} {{description}}</span>
    <span class="session-details-info">会话记录于 {{date}}</span>
    <span class="session-details-info">{{count}} 已保存</span>
  </div>
  <div class="session-actions">
    <button class="button" data-session-id="{{id}}" data-action="delete">删除</button>
    <button class="button button-primary" data-session-id="{{id}}" data-action="view">查看</button>
  </div>
</div>
</script>

<script type="text/template" id="backups-session-details">
<div class="backups-step-container">
  <div class="backups-step-content">
    <div class="snapshot-list"></div>
  </div>
  <div class="backups-step-actions">
    <button class="button back-button">返回</button>
  </div>
</div>
</script>

<script type="text/template" id="snapshot-list-empty">
<div class="centered-message snapshot-list-empty">未找到快照...</div>
</script>

<script type="text/template" id="snapshot-list-error">
<div class="centered-message snapshot-list-error">无法加载快照，出现问题。</div>
</script>

<script type="text/template" id="snapshot-list-item">
<div class="snapshot-item" data-snapshot-id={{id}}>
  <div class="snapshot-preview lowcont-dark-picker-background"></div>
  <div class="snapshot-details">
    <span class="snapshot-details-title">{{name}} {{description}}</span>
    <span class="snapshot-details-info">快照记录于 {{date}}</span>
    <span class="snapshot-details-info">{{frames}}, size {{resolution}}, {{fps}}fps</span>
  </div>
  <div class="snapshot-actions">
    <button class="button button-primary" data-action="load" data-snapshot-id="{{id}}">加载</button>
  </div>
</div>
</script>