<script type="text/template" id="templates/dialogs/import.html">
  <div class="dialog-wrapper">
    <h3 class="dialog-head">
      导入和合并
      <span class="dialog-close">X</span>
    </h3>
    <div class="dialog-content import-wizard-container"></div>
  </div>
</script>

<script type="text/template" id="import-image-import">
<div class="import-step-container import-image-container">
  <form action="" method="POST" name="import-image-form">
    <div class="import-section">
      <span class="dialog-section-title">名称 :</span><span class="import-image-file-name"></span>
    </div>
    <div class="import-section">
      <div class="import-section-preview"></div>
    </div>
    <div class="import-section">
      <label class="dialog-section-radio-label">
        <input class="dialog-section-radio" name="import-type" value="single" type="radio" checked="checked">
        导入为单张图像
      </label>
    </div>
    <div class="import-section import-subsection">
      <span class="dialog-section-title">调成为</span>
      <input type="text" class="textfield import-size-field" autocomplete="off" name="resize-width"/>x
      <input type="text" class="textfield import-size-field" autocomplete="off" name="resize-height"/>
    </div>
    <div class="import-section import-subsection">
      <span class="import-section-title">平滑调整</span>
      <input type="checkbox" class="checkbox-fix" checked="checked" name="smooth-resize-checkbox" value="1"/>
    </div>
    <div class="import-section">
      <label class="dialog-section-radio-label">
        <input class="dialog-section-radio" name="import-type" value="sheet" type="radio">
        导入为精灵图
      </label>
    </div>
    <div class="import-section import-subsection">
      <span class="dialog-section-title">帧尺寸</span>
      <input type="text" class="textfield import-size-field" autocomplete="off" name="frame-size-x"/>x
      <input type="text" class="textfield import-size-field" autocomplete="off" name="frame-size-y"/>
    </div>
    <div class="import-section import-subsection">
      <span class="dialog-section-title">偏移</span>
      <input type="text" class="textfield import-size-field" autocomplete="off" name="frame-offset-x"/>x
      <input type="text" class="textfield import-size-field" autocomplete="off" name="frame-offset-y"/>
    </div>
  </form>
  <div class="import-step-buttons">
    <button class="import-back-button button">返回</button>
    <button class="import-next-button button button-primary">继续</button>
  </div>
</div>
</script>

<script type="text/template" id="import-select-mode">
<div class="import-step-container">
  <div class="import-info">
    <div class="import-preview"></div>
    <div class="import-meta"></div>
  </div>

  <div class="import-step-content">
    <div class="import-mode">
      <div class="import-mode-title">您希望如何导入新内容？</div>
      <div class="import-mode-section">
        <span class="import-mode-section-description">与当前精灵图合并</span>
        <button class="import-mode-merge-button button-primary button">合并</button>
      </div>
      <div class="import-mode-section">
        <span class="import-mode-section-description">替换当前精灵图</span>
        <button class="import-mode-replace-button button-primary button">替换</button>
      </div>
    </div>

    <div class="import-step-buttons">
      <button class="import-back-button button">返回</button>
      <button style="display: none" class="import-next-button button button-primary">继续</button>
    </div>
  </div>
</div>
</script>

<script type="text/template" id="import-meta-content">
  <div class="import-name">
    <span class="import-meta-label">名称</span>
    <span class="import-meta-value" title="{{name}}">{{name}}</span>
  </div>
  <div class="import-dimensions">
    <span class="import-meta-label">尺寸</span>
    <span class="import-meta-value">{{dimensions}}</span>
  </div>
  <div class="import-frames">
    <span class="import-meta-label">帧数</span>
    <span class="import-meta-value">{{frames}}</span>
  </div>
  <div class="import-layers">
    <span class="import-meta-label">图层</span>
    <span class="import-meta-value">{{layers}}</span>
  </div>
</script>

<script type="text/template" id="import-adjust-size">
<div class="import-step-container">

  <div class="import-info">
    <div class="import-preview"></div>
    <div class="import-meta"></div>
  </div>

  <div class="import-step-content">
    <div class="import-resize-info"></div>
    <div class="import-resize-anchor import-resize-section">
      <div class="import-resize-anchor-info"></div>
      <div class="import-resize-anchor-container"></div>
    </div>
    <div class="import-step-buttons">
      <button class="import-back-button button">返回</button>
      <button class="import-next-button button button-primary">继续</button>
    </div>
  </div>
</div>
</script>

<script type="text/template" id="import-resize-bigger-partial">
<div class="import-resize-bigger">
  <div class="import-resize-section">
    导入的图像尺寸比当前精灵图大
  </div>
  <div class="import-resize-section">
    <label class="import-resize-option">
      <input type="radio" name="resize-mode" id="resize-option-expand" value="expand" {{expandChecked}}/>
      <span>将画布尺寸扩展到 {{newSize}}</span>
    </label>
    <label class="import-resize-option">
      <input type="radio" name="resize-mode" id="resize-option-keep" value="keep" {{keepChecked}}/>
      <span>保持画布尺寸为 {{size}}</span>
    </label>
  </div>
</div>
</script>

<script type="text/template" id="import-resize-smaller-partial">
<div class="import-resize-smaller">
  <div class="import-resize-section">
    正在导入的图片大小为 ({{newSize}}) 比画布尺寸 ({{size}}) 小。
  </div>
</div>
</script>

<script type="text/template" id="import-insert-location">
<div class="import-step-container">
  <div class="import-info">
    <div class="import-preview"></div>
    <div class="import-meta"></div>
  </div>

  <div class="import-step-content">
    <div>选择插入帧:</div>
    <div class="insert-frame-preview"></div>
    <div class="insert-mode-container">
      <div class="insert-mode-option-label">
        将导入的帧:
      </div>
      <label class="insert-mode-option">
        <input type="radio" name="insert-mode" id="insert-mode-add" value="add" checked="checked"/>
        <span>作为新帧插入</span>
      </label>
      <label class="insert-mode-option">
        <input type="radio" name="insert-mode" id="insert-mode-insert" value="insert"/>
        <span>插入到现有帧中</span>
      </label>
    </div>
    <div class="import-step-buttons">
      <button class="import-back-button button">返回</button>
      <button class="import-next-button button button-primary">导入</button>
    </div>
  </div>
</div>
</script>
