<script type="text/html" id="templates/settings/export/gif.html">
  <div class="export-panel-gif">
    <div class="export-panel-header export-info">
      将您的精灵图转换为GIF动画
    </div>
    <div class="gif-export-warning">
      <div class="gif-export-warning-icon icon-common-warning-red">&nbsp;</div>
      <div class="gif-export-warning-message">
        颜色太多：无法保留原始颜色或透明度。
      </div>
    </div>
    <div class="export-panel-section export-panel-row">
      <input id="gif-repeat-checkbox" class="gif-repeat-checkbox checkbox-fix" type="checkbox" />
      <label for="gif-repeat-checkbox"
             title="取消选中则只播放一次动画."
             rel="tooltip"
             data-placement="top">重复循环</label>
    </div>
    <div class="export-panel-section export-panel-row">
      <button type="button" class="button button-primary gif-download-button">下载</button>
      <div class="export-info">下载为GIF动画.</div>
    </div>
  </div>
</script>