<script type="text/html" id="templates/settings/export/misc.html">
  <div class="export-panel-misc">
    <div class="export-panel-header export-info">
      不太常见的导出格式。欢迎反馈和改进。
    </div>
    <div class="export-panel-section">
      <div style="padding-bottom: 5px">
        <span class="highlight">导出为 C 文件: </span>
        <span class="export-info">
          C 文件，帧以数组形式渲染。
        </span>
      </div>
      <button type="button" class="button button-primary c-download-button">下载 C 文件</button>
    </div>
  </div>
</script>