<script type="text/html" id="templates/settings/export/png.html">
  <div class="export-panel-png">
    <div class="export-panel-header export-info">将动画导出为包含所有帧的PNG格式的精灵图</div>
    <div class="export-panel-section  png-export-layout-section">
      <div class="highlight" style="padding-bottom: 5px;">精灵图布局选项:</div>
      <div style="display: flex; line-height: 20px;">
        <div style="flex: 1;">
          <span>列</span>
          <input type="number" min="1" class="textfield" id="png-export-columns" name="png-export-columns">
        </div>
        <div style="flex: 1;">
          <span>行</span>
          <input readonly="true" class="textfield" id="png-export-rows" name="png-export-rows">
        </div>
      </div>
    </div>
    <div class="export-panel-section">
      <div style="padding-bottom: 5px">
        <span class="highlight export-panel-row">精灵图导出到文件: </span>
      </div>
      <div class="export-panel-row">
        <button type="button" class="button button-primary png-download-button">下载</button>
        <span class="png-export-dimension-info export-info"></span>
      </div>
    </div>
    <div class="export-panel-section">
      <div style="padding-bottom: 5px">
        <span class="highlight export-panel-row">精灵图导出为 data-uri : </span>
      </div>
      <div class="export-panel-row">
        <button type="button" style="white-space: nowrap;" class="button button-primary datauri-open-button">打开</button>
        <span class="export-info">将精灵图作为 data-uri 打开</span>
      </div>
    </div>

    <div class="export-panel-section">
      <div style="padding-bottom: 5px">
        <span class="highlight export-panel-row">导出为 PixiJS 动画: </span>
      </div>
      <div class="checkbox-container" style="margin: 5px 0;">
        <input id="png-pixi-inline-image" class="png-pixi-inline-image-checkbox checkbox-fix" type="checkbox" />
        <label for="png-pixi-inline-image">将精灵图以 data-uri 形式嵌入</label>
      </div>
      <div class="export-panel-row">
        <button type="button" class="button button-primary png-pixi-download-button"/>下载</button>
        <span class="export-info">带有JSON元数据的精灵图</span>
      </div>
    </div>

    <div class="export-panel-section">
      <div style="padding-bottom: 5px">
        <span class="highlight">导出选定的帧:</span>
      </div>
      <div class="export-panel-row">
        <button type="button" class="button button-primary selected-frame-download-button"/>下载</button>
        <span class="export-info">单帧导出为PNG文件</span>
      </div>
    </div>

  </div>
</script>
